@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');

.name {
    font-family: "Monomaniac One", sans-serif;
    color: #F26666;
    background-color: #6F6BF2;
}

.title {
    font-family: "Monomaniac One", sans-serif;
    color: #F288E0;
    background-color: #474747;
}

.bounce {
    transition: transform 500ms;
}

.bounce:hover {
    transform: skew(25deg) translateY(-2.5em);
    animation: bounce-animation 1s;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
}
.bounce:not(:hover) {
    animation: none;
}

@keyframes bounce-animation {
    0% {
        transform: skew(25deg) translateY(-2.5em);
    }

    20% {
        transform: skew(25deg) translateY(0);
    }

    30% {
        transform: skew(25deg) translateY(-1em);
    }

    40% {
        transform: skew(25deg) translateY(0);
    }

    50% {
        transform: skew(25deg) translateY(-.5em);
    }

    60% {
        transform: skew(25deg) translateY(0);
    }

    70% {
        transform: skew(25deg) translateY(-.2em);
    }

    80% {
        transform: skew(25deg) translateY(0);
    }

    90% {
        transform: skew(25deg) translateY(-.1em);
    }

    100% {
        transform: skew(25deg) translateY(0);
    }
}