@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');

.name {
    font-family: "Monomaniac One", sans-serif;
    color: #F26666;
    background-color: #6F6BF2;
}

.title {
    font-family: "Monomaniac One", sans-serif;
    color: #F288E0;
    background-color: #474747;
}